header.header
    .logo
        p Футбольний
            b Менеджер
            i Офіційний сайт
        img(src="img/ball.png", alt="Логотип Футбольного Менеджера")
    .number
        p
            a(href="tel:+380975555501") +38 (097) 555-55-01
            i Працюємо 24/7